body {
  background-image: url("images/fon.jpg");
  background-color: lightgray;
  margin: 5px;
  padding: 5px;
  font: 1em/1.3em Arial, Tahoma, "trebuchet MS", sans-serif;
  color: #272727;
}

main {
  background: #ffeeff;
  max-width: 1000px;
}

h1 {
  padding: 10px;
  font-weight: 400;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  margin: 0 10px 0 0;
  font-size: 1.3em;
  text-align: left;
  font-style: normal;
}

ul {
  margin-left: 1px;
  padding-left: 1px;
}

li {
  list-style-type: none;
}

.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  margin: 5px;
  flex: 1 1 150px;
}

.self-container {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 200px;
  text-align: center;
  padding: 10px;
}

.self-container__aside {
}

.self-container__section {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 200px;
  text-align: center;
  padding: 10px;
}

.main {
  display: flex;
  max-width: 1000px;
  margin: 10px auto;
  flex-flow: row wrap;
}

.header {
  border-radius: 5px;
  flex-basis: 100%;
  padding: 10px;
  margin: 1px;
  position: relative;
  height: 205px;
  background: url("images/header_background.jpg") no-repeat center;
}

.header-title {
  margin-left: 90px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #ffeeff;
}

.header__image {
  flex: 1 1 260px;
  vertical-align: middle;
  height: 210px;
  width: 40%;
  position: absolute;
  left: 550px;
  bottom: 4px;
  border-radius: 200px;
  border: 3px solid #ffeeff;
  box-shadow: 0 0 7px #666;
  cursor: url("images/unnamed.png"), pointer;
}

.menu-navigation {
  border-radius: 5px;
  background: #e7c5ff;
  flex-basis: 97%;
  justify-content: center;
  align-items: center;
}

.menu-navigation ul li {
  text-align: center;
  padding: 1px 2px;
  display: inline;
}

.menu-navigation ul li a {
  background: #ffeeff;
  padding: 10px 39px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
}

.menu-navigation ul li a:hover {
  background: lightgray;
  color: #ba78ff;
  font-size: 1.1em;
}

.menu-navigation__item_active {
  color: #ba78ff;
  font-size: 1.1em;
}

.about {
  flex-basis: 590px;
  flex-grow: 3;
}

p.about-paragraph:after {
  content: "NEW!";
  color: #333;
  background-color: #fc0;
  font-size: 90%;
  padding: 2px;
}

.aside {
  float: right;
  flex: 1 6 20%;
}

.aside-menu ul li a {
  text-align: left;
  background: #ffeeff;
  color: mediumpurple;
  text-decoration: none;
  transition: 0.4s;
}

.aside-menu ul li a:hover {
  background: lightgray;
}

.aside-menu ul li:before {
  content: "»";
}

.section-first {
  flex-basis: 301px;
}

.section-second {
  flex-basis: 301px;
}

.second-second__line {
  border-left: 2px solid #ccc;
  margin-left: 5px;
  padding-left: 10px;
}

a.section-first__button,
a.section-second__button {
  border: 2px double lightgray;
  background: lavender;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.4s;
}

a.section-first__button:hover,
a.section-second__button:hover {
  background: lightgray;
}

footer {
  border-radius: 5px;
  padding: 1px;
  background: #e7c5ff;
  width: 100%;
  text-align: center;
}

.footer__item {
  color: mediumpurple;
  font-family: Georgia, "Times New Roman", Times, serif;
}
